<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/now">Now</a></li>
	        		<li><a href="/thoughts">Thoughts and Musings</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<!-- Holding for email links later
	    		<ul>
	        		<li><a href="">email</a></li>
	        		<li><a href="https://chrisjokeefe.github.io">Home Repo</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
